<%= form_tag(articles_path, method: :get) do %>
	<%= label_tag "Find Threads by Username" %>
	<%= text_field_tag :user, params[:user] %>
	<%= submit_tag "Search", name: nil %>
<% end %>
  

<% @articles.each do |a| %>

  <div class="article row clearfix">
    <h2>
      <%= link_to a.title, user_article_path(a.user, a) %> (<%= pluralize(a.comments.count, "comment") %>)<br />
      <small class="author">created by: <%= link_to a.user.username, a.user %></small>
    </h2>
  </div>

<% end %>
