<div class="article row clearfix">
	<h2>
		<a href="<%= @article.link %>"><%= @article.title %></a><br />
		<small class="author"> created by: <%= link_to @article.user.username, @article.user %>
	</h2>

	<% @article.categories.each do |category| %>
		<a href="">
			<span class="label label-default"><%= category.name %></span>
		</a>
	<% end %>
</div>

<% @article.comments.each do |comment| %>
	<blockquote class="blockquote">
		<hr>
		<p>
			<%= comment.content %>
		</p>
		<footer>
			<cite title="<%= comment.user.username %>"><%= comment.user.username %></cite>
		</footer>
	</blockquote>
<% end %>

<div class="comments">
  <h5>New Comment</h5>

  <%= simple_form_for [@article, Comment.new] do |f| %>
    <div class="field">
      <%= f.text_area :content, class: "form-control" %><br />
      <%= f.submit "Add Comment", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
